#post-13 {
    padding: 2rem;
    margin: 0 auto;
    max-width: 62.5rem;
}

// Order Summary


.wc-block-components-product-metadata__description {
    display: none;
}

.wc-block-components-order-summary-item__image {

    img {
        height: 3rem !important;
        object-fit: cover;
    }
}

// Checkout button

.wc-block-checkout__actions_row {
    button {
        background-color: $color_header_bg;
    }
}