// Hero

.noc-hero-section {
    .hero-wrapper {
        position: relative;

        .hero-info-wrapper {
            position: absolute;

            h1 {
                color: $color_white;
                text-align: center;
            }

            p {
                color: $color_white;
            }
        }
    }
}