// Hide default category taxonomy title
.woocommerce-products-header__title.page-title {
  display: none;
}

.menu-items ul {
  display: none;
}

.menu-items {
  overflow: hidden;
}

/* --------------------------------------------- */
  .single-category-wrapper{
    margin-top: 2.5rem;
  }

@media(min-width:768px){
    .single-category-wrapper{
      margin-left: 15rem;
    }

}