// Hide default category taxonomy title
.woocommerce-products-header__title.page-title {
    display: none;
}

.menu-items ul {
    display: none;
}

/* --------------------------------------------- */

.menu-items {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.menu-items h2 {
    display: block;
    width: 100%;
}

.menu-items li {
    padding: 1rem;
    width: 15rem; 
}