// temp code
.nojq.mobile {
  display: none;
}
// remove it later

.site-branding {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  z-index: $z-index-mobile-header;
}

// === header left side === //
.site-header .site-branding {
  .custom-logo-link {
    img {
      width: 36px;
    }
  }
  // site title
  .site-title {
    a {
      display: none;
      text-decoration: none;
    }
  }
  // hide site description
  .site-description {
    display: none;
  }
}

// === header right side === //
.main-navigation {
  display: none;
}

// mobile bottom naviagtion

#site-navigation-mobile {
  background-color: #eee;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 56px;
  z-index: $z-index-mobile-nav;
}

#site-navigation-mobile ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

// single icon
#site-navigation-mobile ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    svg {
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 12px;
    }
  }
}
