body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

// Move or delete this later
.breakfast-menu-items {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}