@media(min-width:768px){
    .all-menus-wrapper{
        .top-menu-wrapper{
            margin: 0;

            .top-menu-nav{
                li{
                    padding: 8px 8px 12px;
                }
                >:first-child{
                    padding-left: 0;
                }
            }
        }
        .sidebar-menu-wrapper{
            .sidebar-dismiss-wrapper{
                position: sticky;
                top: 10rem;
                width: 15rem;
                background-color: $color_bg;
                font-size: 14px;
                overflow-y: visible;
                .sidebar-menu-nav{
                    overflow-y: visible;
                    li{
                        padding: 0 8px;
                        max-height: 100%;
                        margin-bottom: 1rem;
                    }
                    .side-active{
                        color: white;border-left: 2px solid white;
                    }
                    &:last-child{
                        margin-bottom: 3rem;
                    }
                }
                .dismiss-btn{
                    display: none;
                }
            }
            .sidebar-menu-button{
                display: none;
            }
        }
    }
}