.menu-items{
    position: relative;
}

.all-menus-wrapper{
    background-color: $color_bg;
    margin-top: 2rem;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    z-index: 2000;
    .menu-subnav {
        list-style: none;
    }
    
    .top-menu-wrapper{
        margin: 0 5px;
        position: relative;
        padding-top: 16px;
        overflow: hidden;
        .top-menu-nav{
            padding-left: 0;
            display: flex;
            flex-wrap: nowrap;
            gap: 1.5rem;
            overflow-x: scroll;
            margin-bottom: 0;
            margin-left: 0;
            color: #999;
            -webkit-overflow-scrolling: touch;
            .active{
                color: White;
                position: relative;
            }
            li{
                width: auto;
                min-width: fit-content;
                padding: 8px 8px;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }

        .tab-indicator{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 4px;
            z-index: 1000;
            background-color: white;
            transition: left 0.3s ease, width 0.3s ease; /* Smooth transitions */
            pointer-events: none;
            will-change: transform, width;
        }
        .tab-indicator-wrapper{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #666;
            overflow: hidden;
        }
    }
    
    
    .sidebar-menu-wrapper{
        height: 0.55rem;
        .sidebar-dismiss-wrapper{
                width: 100vw;
                background-color: white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                color: #666;
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3000;
                overflow-y: hidden;

            .sidebar-menu-nav{
                overflow-y: scroll;
                padding: 1rem 2rem 0;
                margin: 0;
                display: flex;
                max-height: 40vh;
                flex-direction: column;
                .side-active{
                    color: Black;
                }
                li{
                    margin-bottom: 1rem;
                    position: relative;
                }
            }
            .dismiss-btn{
                display: block;
                margin: 0 auto 1rem;
                background-color: $color_bg;
                color: white;
                border: none;
                padding: 10px 30px;
                border-radius: 8px;
            }
        }

        .sidebar-menu-button{
            margin-right: 8px;
            width: 1.6rem;
            height: 1.6rem;
            fill: white;
        }

    }
}

@import 'menu-tab-desktop';