$size__site-main: 100%;
$size__site-sidebar: 25%;

// breakpoint
$breakpoint-mobile: 20em; // 320px
$breakpoint-mobile-lrg: 26.875em; // 430px
$breakpoint-tablet: 48rem; // 768px
$breakpoint-desktop: 64rem; // 1024px
$breakpoint-desktop-lrg: 80rem; // 1280px

$max-width: 75rem; // 1200px
